<h1><%= @employee.first_name %> <%= @employee.last_name %></h1>

Alias: <%= @employee.alias %><br>
Title: <%= @employee.title %><br>
Office: <%= @employee.office %><br></br>

<img src="<%= @employee.img_url %>" width="500">

<%= form_tag edit_employee_path(@employee), method: "get" do %>
  <%= submit_tag "edit" %>
<% end %>
