<h1><%= @dog.name %> </h1>
<h2>Info</h2>
<p>Breed: <%= @dog.breed %> </p>
<p>Age: <%= @dog.age %> </p>
<h2>Employees</h2>
<ol>
 <% @dog.employees.each do |employee| %>
 <li><%= employee.first_name %> <%= employee.last_name %> </li>
 <% end %>
</ol>
